body {
    background-image:url("../images/background.png");
}
li {
    display: inline;
    margin: 0 10px;
}
li:nth-child(1), li:nth-child(2) {
    border-right: 1px #777;
    border-style: solid;
    padding-right: 20px;
}
.banner-name {
    background-color: #4aaaa5;
    padding: 28px;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
}
.banner-name:hover{
    background-color: #22524f;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
}
.nav-links{
    float:right;
    list-style: none;
}
.width-fix {
    width: 960px;
    margin: 0 auto;
}
#profile {
    border-radius: 50%;
    width:150px;
    height:150px;
    float: left;
    margin-right: 20px;
}
#profile:hover {
    opacity:0.5;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
}
.navigation{
    background-color:#fff;
    padding: 30px 0px;
    margin-bottom: 40px;
    border-bottom: 2px #ccc;
    border-style: solid;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}
p, li {
    color: #777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
span, h1 {
    font-family: 'Georgia', Times, Times New Roman, serif;
}
h1 {
    color: #4aaaa5;
    font-size: 30px;
    margin-bottom: 20px;
    border-bottom: 3px #ccc;
    border-style: solid;
    padding-bottom: 30px;
    font-weight: 600;
}
h2 {
    color: #777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
}
.body-white {
    background-color:#fff;
    padding: 40px 20px;
    border: 1px #ddd;
    border-style: solid;
    height: 100%;
    margin-top: 150px;
}
.footer {
    padding: 30px;
    text-align: center;
    color:#fff;
    margin-top: 30px;
    background-color: #666;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    border-top: 7px #4aaaa5;
    border-style: solid;
    font-size: 12px;
    height: 50px;
}
.footer-fix {
    min-height: calc(90vh - 70px);
}
a {
    color: #777;
}
a:visited {
    text-decoration: none;
    color: #777;
    text-under 
}
a:hover {
    color: #4aaaa5;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
}
p {
    line-height: 2;
}
input {
    width: 99%;
    margin: 10px 0;
    height: 20px;
    padding: 5px 0px 5px 10px;
}
textarea {
    height: 200px;
    width: 100%;
    margin: 10px 0;
}
button {
    padding: 10px 25px;
    background-color: #4aaaa5;
    color: #fff;
    font-size: 16px;
    border: none;
}
.portfolioimg {
    max-height: 150px;
    position: absolute;
}
.portspan {
    position: relative;
    line-height: 14;
    color: white;
    background-color: #4aaaa5;
    padding: 13px 15px;
    text-align: center;
    width: 100%;
    font-size: 17px;
}
.container:hover {
    opacity:0.5;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
}
.container {
    position: relative;
    text-align: center;
    color: white;
    margin: 0 25px 40px 0;
}
.centered {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #4aaaa5;
    width: 100%;
    padding: 10px 0;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 19px;
}
table {
    margin: 0 auto;
}

/* Media Queries */

@media screen and (max-width: 980px ) {
    .width-fix {
        width: 850px;
    }
    .body-white {
        width: 75%;
    }
}

@media screen and (max-width: 768px ) {
    .width-fix {
        width: 700px;
        margin: 0 auto;
    }
    .body-white {
        width: 94%;
        margin-top: 110px;
    }
    .banner-name {
        padding: 18px 35px;
    }
    .navigation {
        padding: 20px 0px;
    }
}

@media screen and (max-width: 640px ) {
    .banner-name {
        display: block;
        text-align: center;
        width: 538px;
    }
    .nav-links {
        float: none;
        padding: 23px 0px;
        text-align: center;
        width: 607px;
    }
    .navigation {
        padding: 0;
        position: static;
    }
    .body-white {
        margin-top: 0;
        width: 75%;
        margin: 0 auto;
    }
    .width-fix {
        width: 608px;
    }
    #profile {
        border-radius: 0;
        width: 100%;
        height: 100%;
        margin-bottom: 20px;
    }
    td {
        display: block;
    }
    table {
        margin: 0 auto;
    }
}