/* Custom Stylesheet */
.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

/* Hover Effect */
a {
  position: relative;
}
a::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%) scaleX(0);
  transform-origin: 50% 50%;
  width: 100%;
  height: 1px;
  background-color: #2196F3;
  transition: transform 250ms;
}
a:hover::after {
  transform: translateX(-50%) scaleX(1);
}

/* Custom CSS */
.profile {
  width: 15%;
}

.uppercase {
  text-transform: uppercase;
}

.nav-border {
  border-bottom: 1px solid #FFF;
}

.text-shadow {
  text-shadow: 1px 1px #000;
}

.dropdown-content {
  top: 64px !important;
}

/* Mouse CSS */
.mouse {
  max-width: 2.5rem;
  width: 100%;
  height: auto;
}
.scroll {
  animation-name: scroll;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(0.65, -0.55, 0.25, 1.5);
  animation-iteration-count: infinite;
  transform-origin: 50% 20.5px;
  will-change: transform;
  fill: #FFF;
}
.scroll-link {
  transform: translateX(-50%);
}
@keyframes scroll {
  0%, 20% {
    transform: translateY(0) scaleY(1);
  }
  10% {
    opacity: 1;
  }
  100% {
    transform: translateY(36px) scaleY(2);
    opacity: 0.01;
  }
}

/* Resume CSS */
.lst-kix_m03ra56atsab-8>li:before {
    content: "\0025a0  "
}

.lst-kix_m03ra56atsab-6>li:before {
    content: "\0025cf  "
}

.lst-kix_m03ra56atsab-7>li:before {
    content: "\0025cb  "
}

ul.lst-kix_89lrluccd0rg-8 {
    list-style-type: none
}

.lst-kix_al03bgob63jc-5>li:before {
    content: "\0025a0  "
}

.lst-kix_al03bgob63jc-6>li:before {
    content: "\0025cf  "
}

ul.lst-kix_nlj9hfb4drtl-0 {
    list-style-type: none
}

.lst-kix_jdy4gjddnta9-5>li:before {
    content: "\0025a0  "
}

.lst-kix_jdy4gjddnta9-7>li:before {
    content: "\0025cb  "
}

.lst-kix_nlj9hfb4drtl-0>li:before {
    content: "\0025cf  "
}

ul.lst-kix_nlj9hfb4drtl-1 {
    list-style-type: none
}

.lst-kix_nlj9hfb4drtl-2>li:before {
    content: "\0025a0  "
}

ul.lst-kix_nlj9hfb4drtl-2 {
    list-style-type: none
}

.lst-kix_al03bgob63jc-3>li:before {
    content: "\0025cf  "
}

.lst-kix_al03bgob63jc-7>li:before {
    content: "\0025cb  "
}

ul.lst-kix_nlj9hfb4drtl-3 {
    list-style-type: none
}

ul.lst-kix_nlj9hfb4drtl-4 {
    list-style-type: none
}

.lst-kix_jdy4gjddnta9-6>li:before {
    content: "\0025cf  "
}

.lst-kix_nlj9hfb4drtl-1>li:before {
    content: "\0025cb  "
}

.lst-kix_nlj9hfb4drtl-5>li:before {
    content: "\0025a0  "
}

ul.lst-kix_nlj9hfb4drtl-5 {
    list-style-type: none
}

.lst-kix_jdy4gjddnta9-3>li:before {
    content: "\0025cf  "
}

ul.lst-kix_89lrluccd0rg-0 {
    list-style-type: none
}

ul.lst-kix_nlj9hfb4drtl-6 {
    list-style-type: none
}

.lst-kix_al03bgob63jc-1>li:before {
    content: "\0025cb  "
}

.lst-kix_al03bgob63jc-2>li:before {
    content: "\0025a0  "
}

ul.lst-kix_89lrluccd0rg-1 {
    list-style-type: none
}

ul.lst-kix_nlj9hfb4drtl-7 {
    list-style-type: none
}

ul.lst-kix_89lrluccd0rg-2 {
    list-style-type: none
}

ul.lst-kix_nlj9hfb4drtl-8 {
    list-style-type: none
}

ul.lst-kix_89lrluccd0rg-3 {
    list-style-type: none
}

.lst-kix_nlj9hfb4drtl-4>li:before {
    content: "\0025cb  "
}

ul.lst-kix_89lrluccd0rg-4 {
    list-style-type: none
}

.lst-kix_al03bgob63jc-0>li:before {
    content: "\0025cf  "
}

.lst-kix_al03bgob63jc-8>li:before {
    content: "\0025a0  "
}

ul.lst-kix_89lrluccd0rg-5 {
    list-style-type: none
}

.lst-kix_jdy4gjddnta9-4>li:before {
    content: "\0025cb  "
}

ul.lst-kix_89lrluccd0rg-6 {
    list-style-type: none
}

ul.lst-kix_89lrluccd0rg-7 {
    list-style-type: none
}

.lst-kix_nlj9hfb4drtl-3>li:before {
    content: "\0025cf  "
}

.lst-kix_al03bgob63jc-4>li:before {
    content: "\0025cb  "
}

.lst-kix_jdy4gjddnta9-8>li:before {
    content: "\0025a0  "
}

.lst-kix_nlj9hfb4drtl-8>li:before {
    content: "\0025a0  "
}

.lst-kix_jdy4gjddnta9-2>li:before {
    content: "\0025a0  "
}

.lst-kix_nlj9hfb4drtl-6>li:before {
    content: "\0025cf  "
}

.lst-kix_jdy4gjddnta9-1>li:before {
    content: "\0025cb  "
}

.lst-kix_jdy4gjddnta9-0>li:before {
    content: "\0025cf  "
}

.lst-kix_nlj9hfb4drtl-7>li:before {
    content: "\0025cb  "
}

.lst-kix_89lrluccd0rg-0>li:before {
    content: "\0025cf  "
}

.lst-kix_89lrluccd0rg-1>li:before {
    content: "\0025cb  "
}

.lst-kix_89lrluccd0rg-3>li:before {
    content: "\0025cf  "
}

.lst-kix_89lrluccd0rg-2>li:before {
    content: "\0025a0  "
}

.lst-kix_89lrluccd0rg-5>li:before {
    content: "\0025a0  "
}

.lst-kix_89lrluccd0rg-7>li:before {
    content: "\0025cb  "
}

.lst-kix_89lrluccd0rg-4>li:before {
    content: "\0025cb  "
}

.lst-kix_89lrluccd0rg-8>li:before {
    content: "\0025a0  "
}

ul.lst-kix_al03bgob63jc-0 {
    list-style-type: none
}

ul.lst-kix_al03bgob63jc-1 {
    list-style-type: none
}

ul.lst-kix_al03bgob63jc-2 {
    list-style-type: none
}

ul.lst-kix_al03bgob63jc-3 {
    list-style-type: none
}

ul.lst-kix_al03bgob63jc-4 {
    list-style-type: none
}

.lst-kix_89lrluccd0rg-6>li:before {
    content: "\0025cf  "
}

ul.lst-kix_al03bgob63jc-5 {
    list-style-type: none
}

ul.lst-kix_jdy4gjddnta9-6 {
    list-style-type: none
}

ul.lst-kix_al03bgob63jc-6 {
    list-style-type: none
}

ul.lst-kix_jdy4gjddnta9-5 {
    list-style-type: none
}

ul.lst-kix_al03bgob63jc-7 {
    list-style-type: none
}

ul.lst-kix_jdy4gjddnta9-4 {
    list-style-type: none
}

ul.lst-kix_al03bgob63jc-8 {
    list-style-type: none
}

ul.lst-kix_jdy4gjddnta9-3 {
    list-style-type: none
}

ul.lst-kix_jdy4gjddnta9-8 {
    list-style-type: none
}

ul.lst-kix_jdy4gjddnta9-7 {
    list-style-type: none
}

ul.lst-kix_jdy4gjddnta9-2 {
    list-style-type: none
}

ul.lst-kix_jdy4gjddnta9-1 {
    list-style-type: none
}

ul.lst-kix_jdy4gjddnta9-0 {
    list-style-type: none
}

.lst-kix_m03ra56atsab-1>li:before {
    content: "\0025cb  "
}

.lst-kix_yhuuwr918duz-0>li:before {
    content: "\0025cf  "
}

.lst-kix_yhuuwr918duz-1>li:before {
    content: "\0025cb  "
}

ul.lst-kix_m03ra56atsab-8 {
    list-style-type: none
}

ul.lst-kix_yhuuwr918duz-8 {
    list-style-type: none
}

.lst-kix_m03ra56atsab-2>li:before {
    content: "\0025a0  "
}

ul.lst-kix_yhuuwr918duz-6 {
    list-style-type: none
}

ul.lst-kix_yhuuwr918duz-7 {
    list-style-type: none
}

ul.lst-kix_m03ra56atsab-2 {
    list-style-type: none
}

.lst-kix_m03ra56atsab-5>li:before {
    content: "\0025a0  "
}

ul.lst-kix_yhuuwr918duz-4 {
    list-style-type: none
}

ul.lst-kix_m03ra56atsab-3 {
    list-style-type: none
}

.lst-kix_yhuuwr918duz-4>li:before {
    content: "\0025cb  "
}

ul.lst-kix_yhuuwr918duz-5 {
    list-style-type: none
}

ul.lst-kix_m03ra56atsab-0 {
    list-style-type: none
}

ul.lst-kix_yhuuwr918duz-2 {
    list-style-type: none
}

ul.lst-kix_m03ra56atsab-1 {
    list-style-type: none
}

ul.lst-kix_yhuuwr918duz-3 {
    list-style-type: none
}

.lst-kix_m03ra56atsab-3>li:before {
    content: "\0025cf  "
}

ul.lst-kix_m03ra56atsab-6 {
    list-style-type: none
}

ul.lst-kix_yhuuwr918duz-0 {
    list-style-type: none
}

ul.lst-kix_m03ra56atsab-7 {
    list-style-type: none
}

ul.lst-kix_yhuuwr918duz-1 {
    list-style-type: none
}

.lst-kix_yhuuwr918duz-2>li:before {
    content: "\0025a0  "
}

.lst-kix_yhuuwr918duz-3>li:before {
    content: "\0025cf  "
}

.lst-kix_m03ra56atsab-4>li:before {
    content: "\0025cb  "
}

ul.lst-kix_m03ra56atsab-4 {
    list-style-type: none
}

ul.lst-kix_m03ra56atsab-5 {
    list-style-type: none
}

.lst-kix_yhuuwr918duz-8>li:before {
    content: "\0025a0  "
}

.lst-kix_yhuuwr918duz-5>li:before {
    content: "\0025a0  "
}

.lst-kix_yhuuwr918duz-6>li:before {
    content: "\0025cf  "
}

.lst-kix_yhuuwr918duz-7>li:before {
    content: "\0025cb  "
}

.lst-kix_m03ra56atsab-0>li:before {
    content: "\0025cf  "
}

ol {
    margin: 0;
    padding: 0
}

table td,
table th {
    padding: 0
}

.c17 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #ffffff;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #ffffff;
    vertical-align: top;
    border-right-color: #ffffff;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 270pt;
    border-top-color: #ffffff;
    border-bottom-style: solid
}

.c2 {
    margin-left: 36pt;
    padding-top: 0pt;
    padding-left: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c10 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Arial";
    font-style: normal
}

.c3 {
    color: #000000;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 10pt;
    font-family: "Arial";
    font-style: italic
}

.c1 {
    color: #000000;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 12pt;
    font-family: "Arial";
    font-style: normal
}

.c11 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-family: "Arial";
    font-style: normal
}

.c4 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c9 {
    -webkit-text-decoration-skip: none;
    color: #1155cc;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    font-style: italic
}

.c14 {
    color: #000000;
    text-decoration: none;
    vertical-align: baseline;
    font-family: "Arial";
    font-style: normal
}

.c18 {
    border-spacing: 0;
    border-collapse: collapse;
    margin-right: auto
}

.c19 {
    background-color: #ffffff;
    max-width: 540pt;
    padding: 36pt 36pt 36pt 36pt
}

.c16 {
    color: inherit;
    text-decoration: inherit
}

.c5 {
    padding: 0;
    margin: 0
}

.c0 {
    font-weight: 700
}

.c6 {
    font-size: 12pt
}

.c8 {
    height: 11pt
}

.c12 {
    font-weight: 400
}

.c13 {
    font-style: italic
}

.c15 {
    height: 0pt
}

.c7 {
    font-size: 10pt
}

.title {
    padding-top: 0pt;
    color: #000000;
    font-size: 26pt;
    padding-bottom: 3pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

.subtitle {
    padding-top: 0pt;
    color: #666666;
    font-size: 15pt;
    padding-bottom: 16pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}